Ahoj soutěžící!<br /><br />

úspěšně jsi zvládl všechny kroky nutné pro účast v soutěži S Piráty do Evropy, gratulujeme a těšíme se, že se ti soutěž bude líbit.<br /><br />

Při té příležitosti ti posíláme informační balíček pro soutěžícího.<br /><br />

Podklady pro tisk Pirátských materiálů budeme průběžně doplňovat v sekci Informace na webu soutěže, už teď je tam první várka Pirátských plakátů a letáků. Více zde: <a href="http://soutez.pirati.cz/informace">http://soutez.pirati.cz/informace</a><br /><br />

Často kladené otázky zodpovádáme tady: <a href="http://soutez.pirati.cz/faq">http://soutez.pirati.cz/faq</a><br /><br />

Čeští Piráti schválili spolu s dalšími Pirátskými stranami z Evropské unie společný program pro evropské volby. Ten se týká především svobody Internetu, občanských práv, rozumného používání technologií a posílení demokracie v institucích Evropské unie. Společný evropský program Pirátských stran najdeš zde: <a href="http://www.pirati.cz/zo/spolecnyep2014</a><br /><br />

V platnosti samozřejmě zůstávají i další důležité programové dokumenty České pirátské strany. K dispozici jsou zde: <a href="http://www.pirati.cz/program/start">http://www.pirati.cz/program/start</a><br /><br />

Svoje osobní priority potom zveřejňují i jednotliví kandidáti. Kandidátní listinu Pirátů pro evropské volby najdeš zde: <a href="http://www.pirati.cz/volby2014/start">http://www.pirati.cz/volby2014/start</a><br /><br />

Pokud je ti cokoli nejasné, napiš na soutez@pirati.cz, případně volej na: 736 655 633<br /><br />

Tvoji Piráti<br /><br />

P.S. Nezapomeň, že jedna z disciplín, ve které můžeš soutěžit je i počet lidí, které do soutěže přivedeš. Stačí, aby se přihlásili jako ty a do formuláře zadali jako referenci tvé telefoní číslo.<br /><br />
PP.S. : Můžeš se pojistit před tím, aby ti někdo vyfoukl tvůj soutěžní okrsek. Stačí udělat v něm jakoukoli fyzickou soutěžní aktivitu a poslat nám důkaz (třeba fotku) na email soutez@pirati.cz, potom ti už soutěžní okrsek nikdo nepřebere. 
