Ahoj soutěžící!<br /><br />

Úspěšně ses přihlásil do Pirátské volební soutěže "S Piráty do Evropy!". Pro dokončení registrace je potřeba zdarma zavolat na číslo 222 703 223 a to z telefonu, který jsi vyplnil v registračním formuláři. Bezprostředně po telefonátu obdržíš další informační email.<br /><br />
<br />
Svůj okrsek si prohlédni na mapě na následujícím odkazu:<br />
<br />
Hodně štěstí v soutěži!<br />
tvoji Piráti<br />
Pokud ses do soutěže registrovat nechtěl, dej nám prosím vědět na soutez@pirati.cz