nette:
	database:
		default:
			dsn: 'mysql:host=localhost;dbname='
			user:
			password:
		ruian:
			dsn: 'pgsql:host=localhost;dbname='
			user:
			password:

	mailer:
		smtp: false
		host:
		port: 25
		username:
		password:
php:
	date.timezone: Europe/Prague

