
/*@font-face {
    font-family: 'm_1cregular';
    src: url('mplus-1c-medium-webfont.eot');
    src: url('mplus-1c-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('mplus-1c-medium-webfont.woff') format('woff'),
    url('mplus-1c-medium-webfont.ttf') format('truetype'),
    url('mplus-1c-medium-webfont.svg#m_1cregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
html {
    min-width:1200px;
    overflow:auto;
}
img {
    border: 0px;
}
body {
	font-size: 15px;
/*    font-family: 'm_1cregular',arial;*/
    font-family: arial;
	line-height: 1.6;
	background-color: white;
    background-image: url('../images/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

}
a, a:hover {
    color: black;
}
a {
    text-decoration: none;

}

a:hover {
   text-decoration: underline;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
/*	background: #FFF9D7;
	border: 1px solid #E2C822;*/
    background-color: #dbeee3;
    border: 1px solid black;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
/******************************************************************************************************/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 )
    url('../images/spinner.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
/******************************************************************************************************/

h1, .h1 {
    margin-top:0px;
    font-size: 30px;
}

#main {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#menu {
    width: 100%;
    border-radius: 10px;
    margin-top: 70px;
    line-height: 70px;
    font-size: 22px;
    text-transform: uppercase;
}
#menu ul {
    margin: 0px;
    padding: 0px;
}
#menu li {
    margin: 0px;
    padding: 5px;
    width: 160px;
    text-align: center;
    font-size: 15pt;
    list-style-type: none;
    float:left;

}


#header {
    width: 100%;
    height: 250px;
    display: block;
}
.clear {
    clear: both;
}
#snippet--prihlaseni2 {
    width: 50%;
    float:left;
}
#m {
    width: 50%;
    float:left;
}
#m100 {
    width: 100%;
}
.velky_odkaz {

    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-top:20px;
    padding-bottom:20px;
    line-height: 100%;
    display: block;

}
.p20p {
    padding: 20px;
}
.fb-like-box {
    background-color: white;
    margin-top: 20px;
    float: left;
    width: 400px;
}
.twitter-timeline {
    width: 400px;
    margin-top: 20px;
    float: right;
    height: 250px;
}
.ceny_blok {
    width: 430px;
    float: left;
}
.center {
    text-align: justify;
}

.size {
    font-size: 120%;
}

#content {
    margin-top: 40px;
    color: black;
}
#content-left {
    width: 310px;
    float: left;
}
#content-right {
    width: 890px;
    float: left;
}
.nobottom {
    margin-bottom: 0px;
}
#menu a, #menu a:hover {
    color: white;
}
.homepage {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}
.bigger {
    font-size: 120%;
}
.big {
    font-size: 160%;
}
