body {
	font-size: 15px;
    font-family: arial;
	line-height: 1.6;
	color: white;
	background-color: #3d2f84;
}
#menu a {
    text-decoration: none;

}
a, a:hover {
    color:white;
}
a:hover {
    color: #e3c50f;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
/******************************************************************************************************/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
/******************************************************************************************************/

h1, .h1 {
    margin-top:0px;
    font-size: 30px;
}

#main {
    width:938px;
    margin-left: auto;
    margin-right: auto;
}
#menu {
    width: 100%;
    border-radius: 10px;
}
#menu ul {
    margin: 0px;
    padding: 0px;
}
#menu li {
    margin: 0px;
    padding: 5px;
    width: 124px;
    text-align: center;
    font-size: 15pt;
    list-style-type: none;
    float:left;

}


#header {
    background-image: url('../images/header.png');
    width: 100%;
    height: 196px;
    display: block;
}
.clear {
    clear: both;
}
#snippet--prihlaseni2 {
    width: 50%;
    float:left;
}
#m {
    width: 50%;
    float:left;
}
#m100 {
    width: 100%;
}
.velky_odkaz {
    float: left;
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-top:50px;
    padding-bottom: 50px;
    line-height: 100%;

}
.p20p {
    padding: 20px;
}
.fb-like-box {
    background-color: white;
    margin: 20px;
    float: left;
}
.twitter-timeline {
    width: 425px;
    margin: 20px;
    float: left;
    height: 250px;
}
.ceny_blok {
    width: 400px;
    float: left;
}
.center {
    text-align: justify;
}

.size {
    font-size: 120%;
}
a.velky_odkaz {
    text-decoration: none;
}
<<<<<<< HEAD:wwwroot/css/screen.css
=======
.nobottom {
    margin-bottom: 0px;
}
>>>>>>> 3c1e44093d385dd7d0021d7df0b99f93b8d5e34e:www/css/screen.css
