{block content}
<a class="velky_odkaz" href="http://www.pirati.cz">Web<br /> Pirati.cz</a>
<a class="velky_odkaz" n:href="prihlaseni">Přihlaš se<br /> do soutěže</a>
<a class="velky_odkaz" n:href="podpora">Podpoř<br /> soutěž</a>
{/block}