{block h1}
<h1>Informace</h1>
{/block}
{block content2}
<p>
Soutěž S Piráty do Evropy byla slavnostně zahájena 3. dubna 2014.
</p>

<p>
Čeští  Piráti schválili spolu s dalšími Pirátskými stranami z Evropské unie <a href="http://www.pirati.cz/zo/spolecnyep2014">společný program pro evropské volby</a>. Ten se týká především svobody  Internetu, občanských práv, rozumného používání technologií a posílení  demokracie v institucích Evropské unie.</p>
<p>
V platnosti samozřejmě zůstávají i další důležité <a href="http://www.pirati.cz/program/start">programové dokumenty České pirátské strany</a>.
</p>
<p>
Svoje osobní priority potom zveřejňují i <a href="http://www.pirati.cz/volby2014/start">jednotliví kandidáti</a>.
</p>
<p>
Volební materiály Pirátů ke stažení:<br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/kampan-eu_stupne-sede_01.pdf" target="_blank" >Vzkaz Evropě - Evropa je naše moře</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/kampan-eu_stupne-sede_02.pdf" target="_blank" >Vzkaz Evropě - Jsme na jedné lodi</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/kampan-eu_stupne-sede_03.pdf" target="_blank" >Vzkaz Evropě - Evropa nové generace</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/desky.jpg" target="_blank" >Desky</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/desky_a4.pdf" target="_blank" >Desky A4</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/hesla-prvnich5_01.jpg" target="_blank" >Ivan Bartoš - Otevřená Evropa</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/hesla-prvnich5_02.jpg" target="_blank" >Marcel Kolaja - Občanská práva a ochrana soukromí</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/hesla-prvnich5_03.jpg" target="_blank" >Markéta Gregorová - Svobodný přístup k informacím</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/hesla-prvnich5_04.jpg" target="_blank" >Vojtěch Pikal - Transparentní veřejná správa</a><br />
<a href="http://www.pirati2013.cz/tisk/eu2014/2-4-2014-jarda/hesla-prvnich5_05.jpg" target="_blank" >Tomáš Tožička - Více přátel, méně hranic</a><br />
Seznam je průběžně aktualizován.
</p>
{/block}