{block h1}<h1>Přihlášení do soutěže S Piráty do Evropy (krok 3/3)</h1>{/block}
{block content}

<p>Zde vyplň svou adresu trvalého bydliště. Adresa trvalého bydliště <strong>nemusí</strong> být shodná s adresou soutěžního okrsku.</p>
{control prihlaseni3}

{/block}