body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
/******************************************************************************************************/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
/******************************************************************************************************/

#main {
    width:1160px;
    margin-left: auto;
    margin-right: auto;
}
#menu {
    background-color: navy;
    width: 100%;
    border-radius: 10px;
}
#menu ul {
    margin: 0px;
    padding: 0px;
}
#menu li {
    margin: 0px;
    padding: 5px;
    width: 155px;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    list-style-type: none;
    float:left;

}
#menu ul a {
    color: white;
    text-decoration: none;
}
#menu ul a:hover {
    text-decoration: underline;
}
.clear {
    clear: both;
}
#snippet--prihlaseni2 {
    width: 50%;
    float:left;
}
#m {
    width: 50%;
    float:left;
}